[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bdvis"]
	path = bdvis
	url = https://github.com/vijaybarve/bdvis
	shallow = true
	registered = true
